
Package: neoagent
Priority: extra
Section: utils
Installed-Size: 113984
Maintainer: Tatsuhiko Kubo [cubicdaiya@gmail.com]
Architecture: amd64
Version: 0.2.0
Depends: libev-dev, libjson0-dev
Description: A Yet Another Memcached Proxy Server

